In [17]:
def time2(var):
    return var*2

In [18]:
time2(5)

10

MAP() permite salvar os passos. Criando um loop.

In [19]:
seq = [1,2,3,4,5]

In [20]:
list(map(time2,seq))

[2, 4, 6, 8, 10]

LAMBDA EXPRESSION. Cria uma função sem precisar de defini-lá. lambda variável:retorno (operação com a variável)

In [21]:
t=lambda var:var*2

In [22]:
t(6)

12

In [24]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

filter - Usando para filtra um valor considerando uma condição, ou seja, filter(função com retorno boleando, interação)

In [25]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [11]:
s = 'hello my name is Sam'

In [12]:
s.lower()

'hello my name is sam'

In [13]:
s.upper()

'HELLO MY NAME IS SAM'

In [15]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [18]:
tweet = 'Cruzeiroooo, #vamoscruzeiro'

In [20]:
tweet.split('#')[1]

'vamoscruzeiro'

In [21]:
d={'k1':1,'k2':2}

In [22]:
d.keys()

dict_keys(['k1', 'k2'])

In [23]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [24]:
d.values()

dict_values([1, 2])

In [25]:
lst = [1,2,3,4]

In [26]:
lst.pop()

4

In [27]:
lst

[1, 2, 3]

In [28]:
item = lst.pop()

In [29]:
item

3

In [30]:
lst.append(8)

In [32]:
'x' in [1,2,3]

False

In [33]:
'x' in ['x','y']

True

In [34]:
x=[(1,2),(3,4),(5,6)]

In [38]:
#PARA DESCOMPACTAR UM TUPLE BASTA USAR A UM FOR DESSA FORMA:

In [39]:
for (a,b) in x:
    print(a)

1
3
5

In [41]:
for a,b in x:
    print(b)

2
4
6

In [42]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6