In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) #faz um lista de pares de tuple 
hier_index = pd.MultiIndex.from_tuples(hier_index) #criar uma lista com mutiplos index

In [9]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [7]:
df  = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [8]:
df #2 levels de index

             A         B
G1 1 -2.082124  0.351252
   2  0.221659  1.645676
   3 -0.608276 -0.838330
G2 1 -1.177605  0.443991
   2 -0.619030  1.790911
   3 -0.537539  2.097007

In [10]:
#para localizar dados do multiplo index faz:
df.loc['G1']

          A         B
1 -2.082124  0.351252
2  0.221659  1.645676
3 -0.608276 -0.838330

In [11]:
df.loc['G1'].loc[1]

A   -2.082124
B    0.351252
Name: 1, dtype: float64

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
#Para colocar nomes nos index faz-se
df.index.names=['Groups','Num']

In [14]:
df

                   A         B
Groups Num
G1     1   -2.082124  0.351252
       2    0.221659  1.645676
       3   -0.608276 -0.838330
G2     1   -1.177605  0.443991
       2   -0.619030  1.790911
       3   -0.537539  2.097007

In [15]:
df.loc['G2'].loc[2]['B']

1.7909109857918353

In [18]:
df.loc['G1'].loc[3]['A']

-0.6082757937426184

In [20]:
#Para retornar uma seção cruzada usa-se a funçao df.xs
df.xs('G1')

            A         B
Num
1   -2.082124  0.351252
2    0.221659  1.645676
3   -0.608276 -0.838330

In [21]:
df.xs(1,level='Num') #Para pegar as linhas com 1 em diferentes index G1VSG2
#Essa função é útil. Passe-se o valor do index e o nome da index

               A         B
Groups
G1     -2.082124  0.351252
G2     -1.177605  0.443991